{% extends "base.html" %}

{% block title %}Your Instances{% endblock title %}

{% block extrahead %}
<script language="javascript">
<!--
setTimeout("location.reload()", 1000 * 5);
//-->
</script>
{% load staticfiles %}
<link href="{% static 'wsato_qiligeer_web/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="div">
      <a href="http://localhost:8001/accounts/logout/" class="op_button_logout_style">logout</a>
    </div>
    <h3 class="page-header">Your Instances</h3>
    <p class="p_user_id">user_id : {{ user_id }}</p>
    <br>
    <a href="{% url 'vm:instance_create' %}" class="op_button_link_style">create new instance</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>name</th>
          <th>status</th>
          <th>size</th>
          <th>ram</th>
          <th>vcpus</th>
          <th>ip v4 address</th>
          <th>ssh key</th>
          <th>create date</th>
          <th>update date</th>
          <th>operations</th>
        </tr>
      </thead>
      <tbody>
        {% for domain in instances %}
        <tr>
          <td>{{ domain.id }}</td>
          <td>{{ domain.name }}</td>
          <td>{{ domain.status }}</td>
          <td>{{ domain.size }}</td>
          <td>{{ domain.ram }}</td>
          <td>{{ domain.vcpus }}</td>
          <td>{{ domain.ipv4_address }}</td>
          <td>
          {% if domain.status != None %}
            <a class="op_button_download_style" href="{% url 'vm:download' user_id domain.name %}">download</a>
          {% endif %}
          </td>
          <td>{{ domain.create_date }}</td>
          <td>{{ domain.update_date }}</td>
          <td>
          <form action="{% url 'vm:instance_operation' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <input id="id_name" name="name" type="hidden" value="{{ domain.name }}">
            <button type="submit" name="button_start" class="op_button_submit_style">start</button>
            <button type="submit" name="button_close" class="op_button_submit_style">stop</button>
            <button type="submit" name="button_resume" class="op_button_submit_style">resume</button>
            <button type="submit" name="button_suspend" class="op_button_submit_style">suspend</button>
            <button type="submit" name="button_delete" class="op_button_submit_style">delete</button>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
