{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Create Instance{% endblock title %}

{% block extrahead %}
{% load staticfiles %}
<link href="{% static 'wsato_qiligeer_web/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="div">
      <a href="http://localhost:8001/accounts/logout/" class="op_button_logout_style">logout</a>
    </div>
    <h3 class="page-header">Create Instance</h3>
    {% if instance_id %}
    <form action="{% url 'vm:instance_mod' instance_id=instance_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'vm:instance_create' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      {{ hours }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="op_button_submit_style">submit</button>
        </div>
      </div>
    </form>
    <br>
    <a href="{% url 'vm:instance_list' %}" class="op_button_link_style">back</a>
{% endblock content %}
